<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SecretShare - Потужний Захист</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
<header class="header">
    <a href="/" class="logo">🤫 SecretShare</a>
    <nav class="navbar">
        <a href="/">Головна</a>
        <a href="/Messages/Create">Створити</a>
    </nav>
</header>

<div style="padding-top: 12rem;"> 
    @RenderBody()
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>