<section style="display: flex; justify-content: center; align-items: center; min-height: 70vh; text-align: center;">
    <div>
        <div class="floating-icon">
            <i class='bx bx-shield-quarter'></i>
        </div>
        <h1 style="font-size: 5.6rem; font-weight: 700; line-height: 1.3;">Потужний <span style="color: var(--main-color);">Захист</span></h1>
        <p style="font-size: 1.8rem; margin: 2rem 0; color: #ccc;">
            Шифрування на стороні браузера. <br> 
            Повідомлення видаляються назавжди після першого перегляду.
        </p>
        <a href="/Messages/Create" class="btn">Додати повідомлення</a>
    </div>
</section>